.pie {
    margin-top: 50px;
    margin-bottom: 50px;
}

.pie__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pie__logo-nombre{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
}
.pie__logo-productos{
    color: brown;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 0 0 15px aliceblue;
}
.contacto{
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto__nombre, .contacto__mensaje {
    padding: 15px;
    border-radius: 7px;
    border: none;
    background-color: rgb(29, 28, 28);
    color: aliceblue;
    outline-style: none;
    width: 90%;
}

.contacto__nombre:focus, .contacto__mensaje:focus{
    border-bottom: 1px solid green;
}


.input{
    position: relative;
}

.contacto__nombre:focus + .contacto__nombre-label,
.contacto__nombre:not(:placeholder-shown) + .contacto__nombre-label{
    transform: translate(-12px) scale(.8);
    transform-origin: left top;
}
.contacto__mensaje:focus + .contacto__mensaje-label,
.contacto__mensaje:not(:placeholder-shown) + .contacto__mensaje-label{
    transform: translate(-12px) scale(.8);
    transform-origin: left top;
}
.contacto__nombre-label, .contacto__mensaje-label{
    position: absolute;
    padding-top: 3px;
    top: 0;
    left: 20px;
    transform: translateY(12px);
    transition: transform .5s;
    cursor: pointer;
    color:dimgrey;
}
.submit{
    padding: 10px;
    background-color: var(--colorBoton);
    color: aliceblue;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.copy {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-color: #222; */
    color: #ffd; 
}
.copy p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 5px 30px;  */
}
.copy p a {
    display: flex;
    align-items: center;
    color: #ffd;
    padding: 5px; 
}
.copy p img {
    width: 40px;
    padding: inherit;
    border-radius: 50px; 
}

@media screen and (min-width: 768px){
    .pie__logo-nombre {
        font-size: 2.5rem;
    }
    .pie__logo-productos {
        font-size: 1.8rem;
    }
    .contacto__titulo {
        font-size: 1.8rem;
    }
}